.row.r.search-nav.c
	.col-xs-9
		h4 Search Results - {{ q }}
	.col-xs-3
		ul.list-inline.search-filters
			li: a.clickable.inst-color()
				i.fa.fa-sitemap
			li: a.clickable.fund-color()
				i.fa.fa-bank
			li: a.clickable.contact-color()
				i.fa.fa-users

.r.search-res.scroll-y.c
	.row(ng-repeat='(k,v) in entities | groupBy: "type"')
		.col-xs-12
			h3(ng-class='{"inst-color": k == "Institution", "fund-color": k == "Fund", "contact-color": k == "Contact"}') {{ k }}s
		masonry.col-xs-12(column-width="1", preserve-order="", load-images='false', masonry-options="{ gutter: 10, isAnimated: true }")
			.masonry-brick.list-group.entity-list-item.clickable(ng-repeat='e in v | orderBy: "-investorAttributes.eqAssets"', ng-click='toggleEntityView(e, $index)', ng-class="{ 'active': e.isExpanded }")
					bs-entity-info(entity="e")


