block head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
	link(href='/public/stylesheets/bootstrap.css', rel='stylesheet')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
	link(href='/public/stylesheets/animate.css', rel='stylesheet')
	link(href='/public/stylesheets/app.css', rel='stylesheet')

	script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/public/javascripts/bootstrap.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.2/angular-filter.min.js')

	script(src='/public/javascripts/masonry.min.js')
	script(src='/public/javascripts/angular-masonry.min.js')



	script(src='/public/javascripts/app.js')
	script(src='/public/javascripts/modules/d3.js')

	
	script(src='/public/javascripts/controllers/index.js')
	script(src='/public/javascripts/controllers/compare.js')
	script(src='/public/javascripts/controllers/listmgmt.js')
	script(src='/public/javascripts/controllers/search.js')
	script(src='/public/javascripts/controllers/searchres.js')


	script(src='/public/javascripts/services/investor.js')
	script(src='/public/javascripts/services/globalsearch.js')
	script(src='/public/javascripts/services/davosUrl.js')

	script(src='/public/javascripts/directives/bsEntityInfo.js')
	script(src='/public/javascripts/directives/bsEntityCharts.js')




