.row
	.col-xs-3
		.logo
	.col-xs-7
		form
			.input-group(ng-controller='SearchCtrl')
				input.form-control#global-search(type='text', placeholder='Search', name='q', ng-model='q', ng-model-options='{ debounce: 1 }', ng-keypress='$event.which == 13 ? search($event) : null')
				.input-group-btn
					button.btn.btn-default(ng-click='search($event)')
						i.glyphicon.glyphicon-search
	.col-xs-2
		ul.list-inline.icon-list
			li: a(href='user')
				i.glyphicon.glyphicon-user
			li: a(href='lists')
				i.glyphicon.glyphicon-th-list

