.list-group
	a.list-group-item(href='compare')
		h4 Compare
	a.list-group-item(href='listmanagement')
		h4 Manage Lists
	a.list-group-item(href='#')
		h4 Route 3
	a.list-group-item(href='#')
		h4 Route 4