.list-group
	a.list-group-item(href='compare')
		h5 Compare
	a.list-group-item(href='listmanagement')
		h5 Manage Lists
	a.list-group-item(href='#')
		h5 Route 3
	a.list-group-item(href='#')
		h5 Route 4