.r, .c { position: absolute; }
.r { left: 0; right: 0; padding-left: 15px; padding-right: 15px; }
.c { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

#header.r { height: 65px; top: 0; background-color: rgb(90, 30, 57); color: white;}
#content.r { top: 65px; bottom: 0; padding-left: 0px; }
#header form { margin-top: 15px; }

#nav { left: 0; width: 200px; background-color: rgb(4, 32, 41); }
#main { left: 200px; right: 0; }

.logo { height: 45px; margin-top: 10px; background-image: url('/public/images/IpreoTransparent.gif'); background-size: contain; background-repeat: no-repeat; }

#nav .list-group-item { 
	background-color: inherit;
	border: none; 
	border-radius: 0;
	padding: 5px 15px;
}

#nav .list-group-item {
	color: rgb(165, 197, 233)
}

#nav .list-group-item:hover {
	background-color: white;
	color: rgb(0, 139, 207);
}

#header .icon-list {
	text-align: right;
	font-size: 150%;
	line-height: 65px;
	margin-bottom: 0px;
}

.list-inline.search-filters {
	text-align: right;
	font-size: 130%;
	line-height: 39px;
	margin-bottom: 0;
}

.list-inline.search-filters > li {
	padding-left: 15px;
	padding-right: 15px;
}

.clickable {
	cursor: pointer;
}

.inst-color, .inst-color:hover {
	color: rgb(0, 139, 207);
}

.contact-color, .contact-color:hover {
	color: rgb(251, 162, 16);
}

.fund-color, .fund-color:hover {
	color: rgb(165, 197, 233);
}

.inactive {
	color: rgb(100, 100, 100);
}

#header .icon-list > li {
	padding-right: 15px;
	padding-left: 15px;
}

#header .icon-list > li > a {
	color: white;
}

.no-tb-margin { margin-bottom: 0; margin-top: 0;  }

.entity-list-item {
	/*width: calc(20% - 14px);*/
	width: calc(25% - 15px);
}

.entity-list-item .list-group-item {
	padding: 0px;
}

.entity-list-item .list-group-item-heading {
	background-color: rgb(233, 240, 242);
	padding: 10px 10px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: clip;
	white-space: normal;
}

.entity-list-item.active {
	width: calc(50% - 50/3px);
}

//ipreo db = 0, 139, 207
//ipreo lb = 165, 197, 233
//ipreo org = 251, 162, 16


